body
{
 background-color: black;
 font-family: "Dancing Script", cursive;
 color: white;
}

/*cabezera*/
header
{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
#titulo
{
  width: 70%
}

.horizontal
{

padding: 0;
}
.horizontal li
{
   display: inline;
}
.horizontal li a
{
  float: left;
  padding: 10px;
  font-size: 20px;
}

li a:link, li a:visited
{
  color: white;
}


/*sectiom*/
#Contenido
{
  background-color: #d5c75f;
  border: 1px solid #d5c75f;
}
.Contenedor
{
  display:flex;
  flex-direction: row;
}

figure img
{
  width: 100%;
}
figure
{
  text-align: center;
}
[id^=imag]
{
  width: 33%;
}
#imagen2 figure img, #imagen4 figure img, #imagen6 figure img
{
  -webkit-filter:grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}
#imagen1 figure img
{
  -webkit-filter:blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}
#imagen3 figure img
{
  -webkit-filter:sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}
img
{
  -webkit-box-shadow: 2px 2px 2px 2px #02010a; /* Chrome, Safari, Opera */
}

/*footer*/
 footer
 {
   background-color: #C6d5c5;
   border-radius: 0 0 10px 10px;
   display: flex;
   flex-direction: row nowrap;
  color: black !important;
 }
 .footer1, .footer2, .footer3, .footer4
 {
   width: 25%;
   padding: 0 3% 0 3%;
   list-style: none;
 }
.footer1 li, .footer2 li, .footer3 li, .footer4 li
{
 list-style: none;
 font-size: 15px;
 font-weight: bold;
}
#Content
{
 width: 900px;
 margin: 0 auto;
}

  #Content
  {
   width: 900px;
   margin: 0 auto;
   animation-name: content;
   animation-duration: 2s;
  }

@media screen and (max-width: 720px)
{
  #Content
  {
   width: 100%;
   margin: 0
  }
  .Contenedor
  {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  [id^=imag]
  {
    width: 100%;
  }
  header
  {
    display: flex;
    flex-direction: column;
    padding: auto;

  }
  #titulo, #titulo2
  {
   margin: 0 auto;
  }

  li a
  {
   font-size: 19px;
   text-align: center;
  }
  h1
  {
   text-align: center;
  }

  footer
  {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  }
  .footer1, .footer2, .footer3, .footer4
  {
    width: 100%;
    text-align: left;
  }
  .footer1 li, .footer2 li, .footer3 li, .footer4 li
  {
   font-size: 22px;
   font-weight: normal;
  }
}
@keyframes content {
  0%{margin-top: 150%}
  60%{margin-top: -5%}
  100%{margin-top: 0%}
}
